@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  color: #fff;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-content: center;
}

.content {
  display: flex;
  min-height: 100vh;
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

@keyframes rotate-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.rotate-gradient {
  background-size: 200% 200%;
  animation: rotate-gradient 2s linear infinite;
}

@keyframes rotate-z {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.rotate-z {
  animation: rotate-z 2s linear infinite;
}

@keyframes color-morph {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.color-morph {
  animation: color-morph 10s linear infinite;
}

.color-morph-border {
  -webkit-mask: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff) content-box;
  -webkit-mask-composite: destination-out;

  mask: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff) content-box;
  mask-composite: exclude;
}

@keyframes slide-down {
  0% {
    transform: translateX(-50%) translateY(-200%);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

.slide-down {
  animation: slide-down 0.5s ease-out;
}

@keyframes soccer-path {
  0% {
    stroke-dashoffset: -4723;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 4723;
  }
}

.soccer-path {
  stroke-dasharray: 4723;
  animation: soccer-path 3s ease-out infinite;
}

@keyframes fire-path {
  0% {
    stroke-dashoffset: -2250;
  }
  20% {
    stroke-dashoffset: -2250;
  }
  50% {
    stroke-dashoffset: 0;
  }
  75% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 2250;
  }
}

.fire-path {
  stroke-dasharray: 2250;
  animation: fire-path 3s ease-out infinite;
}

@keyframes projects-path {
  0% {
    stroke-dashoffset: -3889;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 3889;
  }
}

.projects-path {
  stroke-dasharray: 3889;
  animation: projects-path 3s ease-out infinite;
}

@keyframes experience-path {
  0% {
    stroke-dashoffset: -2889;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 2889;
  }
}

.experience-path {
  stroke-dasharray: 2889;
  animation: experience-path 3s ease-out infinite;
}
